<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fyrirspurnir til skriflegs svars</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="style.css">    
</head>
<body>    
    <h1 class="center">
        <img src="img/piratar.png" height="40px">        
        <a href="index.html" class="header-link">
        {% if filter == "osvarad" %}
            Fyrirspurnum sem hefur ekki verið svarað
        {% else %}
           Fyrirspurnum sem hefur verið svarað
        {% endif %}
        </a>   
        <img src="img/piratar.png" height="40px">
    </h1>
    <nav class="center">
    {% for category, files in categories.items() %}
        <div class="dropdown">
            <button class="dropbtn">{{ category }}</button>
            <div class="dropdown-content">
                <table>
                    <tr>
                        <th></th>
                    </tr>
                    {% for file in files %}
                        <tr>
                            <td><a href="{{ file }}">{{ aliases.get(file, file) }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}    
    </nav>
    <table border="1" class="sortable-table stripe">
        <thead>
            <tr>
                <th>Málsnúmer</th>
                <th>Fyrirspurn</th>
                <th>Fyrirspyrjandi</th>
                <th>Utbyting</th>
                <th>Svar</th>              
                <th>Fjöldi daga</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                {% if "ekki verið" in row.stadamals and filter == "osvarad"%}
                    <tr>
                        <td>{{ row.malsnumer }}</td>
                        <td><a href="{{ row.html }}">{{ row.malsheiti }}</a></td>
                        <td>{{ row.nafn }}</td>
                        <td>{{ row.utbyting }}</td>
                        <td>{{ row.stadamals }}</td>
                        <td>{{ row.days_between }}</td>
                    </tr>
                {% elif "var svarað" in row.stadamals and filter == "svarad" %}
                    <tr>
                        <td>{{ row.malsnumer }}</td>
                        <td><a href="{{ row.html }}">{{ row.malsheiti }}</a></td>
                        <td>{{ row.nafn }}</td>
                        <td>{{ row.utbyting }}</td>
                        <td>{{ row.svar_dagsetning }}</td>
                        <td>{{ row.days_between }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <script>
      $(document).ready(function() {
        $('.sortable-table').DataTable({
          "lengthChange": false,
          "paging": false,
          "columns": [
                {
                    "type": "num"
                },
                {
                    "type": "string"
                },
                {
                    "type": "string"
                },
                {
                    "type": "string"
                },
                {
                    "type": "string"
                },
                {
                    "type": "num"
                },
            ]
        });
      });
    </script>    
</body>
</html>
