<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">    
    <title>piratar.bjornlevi.is</title>
</head>
<body>
    <h1 class="center">
        <img src="img/piratar.png" height="40px">
        <a href="index.html" class="header-link">Upplýsingasíða fyrir þingmál og fleira</a>
        <img src="img/piratar.png" height="40px">
    </h1>
    <nav class="center">
        {% for category, files in categories.items() %}
            <div class="dropdown">
                <button class="dropbtn">{{ category }}</button>
                <div class="dropdown-content">
                    <table>
                        <tr>
                            <th></th>
                        </tr>
                        {% for file in files %}
                            <tr>
                                <td><a href="{{ file }}">{{ aliases.get(file, file) }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    </nav>
    {% if rows is defined and rows|length > 0 %}
        <h2>Dagskrá fundar: {{ rows[0].fundarheiti }}</h2>
        <h3>{{ rows[0].hefst }}</h3>
        <ol>
        {% for row in rows %}
            <li>
                {% if row.malsflokkur == 'B' %}
                    {{ row.malsheiti }}
                {% else %}
                    {% if row.html_link %}
                        Mál: {{ row.malsnumer }}. <a href="{{ row.html_link }}">{{ row.malsheiti }}</a> 
                        - {{ row.skyring }} - {{ row.skjalategund }} - {{ row.umraeda }} - 
                    {% else %}
                        {{ row.malsheiti }}
                    {% endif %}            
                    {% if row.radherra %}
                        {{ row.radherra }}
                    {% else %}
                        {{ row.nafn }}
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
        </ol>
    {% else %}
        <h2>Engin dagskrá komin fyrir næsta fund</h2>
    {% endif %}
</body>
</html>
