<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Óundirbúnar fyrirspurnir</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="style.css">    
</head>
<body>    
    <h1 class="center">
        <img src="img/piratar.png" height="40px">        
        <a href="index.html" class="header-link">
       Óundirbúnar fyrirspurnir
        </a>   
        <img src="img/piratar.png" height="40px">
    </h1>
    <nav class="center">
    {% for category, files in categories.items() %}
        <div class="dropdown">
            <button class="dropbtn">{{ category }}</button>
            <div class="dropdown-content">
                <table>
                    <tr>
                        <th></th>
                    </tr>
                    {% for file in files %}
                        <tr>
                            <td><a href="{{ file }}">{{ aliases.get(file, file) }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}    
    </nav>
    <table border="1" class="sortable-table stripe">
        <thead>
            <tr>
                <th>Málsnúmer</th>
                <th>Fyrirspurn</th>
                <th>Fyrirspyrjandi</th>
                <th>Dagsetning</th>
                <th>Þingflokkur</th>
                <th class="hide_column">Ræða</th>         
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td class="details-control">{{ row.mal_numer }}</td>
                    <td><a href="{{ row.raeda_html }}">{{ row.mal_heiti }}</a></td>
                    <td>{{ row.nafn }}</td>
                    <td>{{ row.raeda_hofst }}</td>
                    <td>{{ row.thingflokkur }}</td>
                    <td class="hide_column">{{ row.raeda_texti }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function format ( d ) {
            // `d` is the original data object for the row
            return '<div>'+d[5]+'</div>';
        }

        $(document).ready(function() {
            var table = $('.sortable-table').DataTable({
              "lengthChange": false,
              "paging": false
            });

            // Add event listener for opening and closing details
            $('tbody').on('click', 'td.details-control', function(){
                var tr = $(this).closest('tr');
                var row = table.row( tr );
                if(row.child.isShown()){
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    console.log(row.data())
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        });
    </script>    
</body>
</html>
