<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Þjóðhagsspá</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="style.css">      
</head>
<body>    
    <h1 class="center">
        <img src="img/piratar.png" height="40px">        
        <a href="index.html" class="header-link">
        Þjóðhagsspá
        </a>   
        <img src="img/piratar.png" height="40px">
    </h1>
    <nav class="center">
    {% for category, files in categories.items() %}
        <div class="dropdown">
            <button class="dropbtn">{{ category }}</button>
            <div class="dropdown-content">
                <table>
                    <tr>
                        <th></th>
                    </tr>
                    {% for file in files %}
                        <tr>
                            <td><a href="{{ file }}">{{ aliases.get(file, file) }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}    
    </nav>
    <table id="thjodhagsspa" class="display">
        <thead>
            <th></th>
            <th>2023</th>
            <th>2024</th>
            <th>2025</th>
            <th>2026</th>
            <th>2027</th>
            <th>2028</th>
            <th>2029</th>
        </thead>
        <tbody>
            {% for i in range(row_labels|length) %}
                <tr>
                    <td>{{ row_labels[i] }} {{loop.index}}</td>
                    <td>{{ data.data[i*loop.index]['values'][0] }}</td>
                    <td>{{ data.data[i*loop.index+1]['values'][0] }}</td>
                    <td>{{ data.data[i*loop.index+2]['values'][0] }}</td>
                    <td>{{ data.data[i*loop.index+3]['values'][0] }}</td>
                    <td>{{ data.data[i*loop.index+4]['values'][0] }}</td>
                    <td>{{ data.data[i*loop.index+5]['values'][0] }}</td>
                    <td>{{ data.data[i*loop.index+6]['values'][0] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        // DataTable initialization
        $(document).ready(function() {
            $('#thjodhagsspa').DataTable({
              "lengthChange": false,
              "paging": false,
              "searching": true 
            });
        });
    </script>
</body>
</html>
